<!DOCTYPE html>

<html lang="en">
<head><script>{% load static %}</script><script>{% load custom_tags %}</script><script>var jsonDataww = {{ json_data|safe }};</script>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title id="title_1"></title>
<meta content="" name="description"/>
<meta content="" name="keywords"/>
<!-- Favicons -->
<link href="{% static 'assets/img/favicon.png' %}" rel="icon"/>
<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"/>
<!-- Google Fonts -->
<link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700' %}" rel="stylesheet"/>
<!-- Vendor CSS Files -->
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet"/>
<!-- Template Main CSS File -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
<!-- =======================================================
  * Template Name: Rapid
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
<!-- ======= Header ======= -->
<header class="fixed-top d-flex align-items-center header-transparent" id="header">
<div class="container d-flex align-items-center">
<h1 class="logo me-auto" id="h1_1"></h1>
<!-- Uncomment below if you prefer to use an image logo -->
<!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
<nav class="navbar order-last order-lg-0" id="navbar">
<ul>
<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
<li><a class="nav-link scrollto" href="#about">About</a></li>
<li><a class="nav-link scrollto" href="#services">Services</a></li>
<li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
<li><a class="nav-link scrollto" href="#team">Team</a></li>
<li><a class="nav-link scrollto" href="#footer">Contact</a></li>
</ul>
<i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
<div class="social-links">

  {% for socilamedia in social %}
  {% if socilamedia.social_media.name == "Facebook" %}
  <a href="{{socilamedia.link}}"><i class="fab fa-facebook"></i></a>
  {% elif socilamedia.social_media.name == "Instagram" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-instagram"></i></a>
  {% elif socilamedia.social_media.name == "Twitter" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-twitter"></i></a>
  {% elif socilamedia.social_media.name == "LinkedIn" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-linkedin"></i></a>
  {% elif socilamedia.social_media.name == "Snapchat" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-snapchat"></i></a>
  {% elif socilamedia.social_media.name == "Pinterest" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-pinterest"></i></a>
  {% elif socilamedia.social_media.name == "Reddit" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-reddit"></i></a>
  {% elif socilamedia.social_media.name == "TikTok" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-tiktok"></i></a>
  {% elif socilamedia.social_media.name == "YouTube" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-youtube"></i></a>
  {% elif socilamedia.social_media.name == "WhatsApp" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-whatsapp"></i></a>
  {% elif socilamedia.social_media.name == "WeChat" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-weixin"></i></a>
  {% elif socilamedia.social_media.name == "Tumblr" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-tumblr"></i></a>
  {% elif socilamedia.social_media.name == "Twitch" %}
  <a href="{{socilamedia.link}}"><i class="fab fa-twitch"></i></a>
  {% elif socilamedia.social_media.name == "Telegram" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-telegram"></i></a>
  {% elif socilamedia.social_media.name == "Discord" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-discord"></i></a>
  {% elif socilamedia.social_media.name == "Clubhouse" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-houzz"></i></a>
  {% elif socilamedia.social_media.name == "Viber" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-viber"></i></a>
  {% elif socilamedia.social_media.name == "LINE" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-line"></i></a>
  {% elif socilamedia.social_media.name == "QQ" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-qq"></i></a>
  {% elif socilamedia.social_media.name == "Sina Weibo" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-weibo"></i></a>
  {% endif %}
{% endfor %}

</div>
</div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section class="clearfix" id="hero">
<div class="container d-flex h-100">
<div class="row justify-content-center align-self-center" data-aos="fade-up">
<div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
<h2 id="h2_1"></h2>
<div>
<a class="btn-get-started scrollto" href="#about">Get Started</a>
</div>
</div>
<div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
<img alt="" class="img-fluid" src="{% get_image_url None %}"/>
</div>
</div>
</div>
</section><!-- End Hero -->
<main id="main">
<!-- ======= About Section ======= -->
<section class="about" id="about">
<div class="container" data-aos="fade-up">
<div class="row">
<div class="col-lg-5 col-md-6">
<div class="about-img" data-aos="fade-right" data-aos-delay="100">
<img alt="" src="{% get_image_url 9 %}"/>
</div>
</div>
<div class="col-lg-7 col-md-6">
<div class="about-content" data-aos="fade-left" data-aos-delay="100">
<h2 id="h2_2"></h2>
<h3 id="h3_1"></h3>
<p id="p_1"></p>
<p id="p_2"></p>
<ul>
<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
</ul>
</div>
</div>
</div>
</div>
</section><!-- End About Section -->
<!-- ======= Services Section ======= -->
<section class="services section-bg" id="services">
<div class="container" data-aos="fade-up">
<header class="section-header">
<h3 id="h3_2"></h3>
<p id="p_3"></p>
</header>
<div class="row g-5">

  {% for service in services %}
<div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">  {{ service.title }}</a></h4>
              <p class="description">  {{ service.description }}</p>
            </div>
          </div>
          {% endfor %}
</div>
</div>
</section><!-- End Services Section -->
<!-- ======= Why Us Section ======= -->
<section class="why-us" id="why-us">
<div class="container-fluid" data-aos="fade-up">
<header class="section-header">
<h3 id="h3_3"></h3>
<p id="p_4"></p>
</header>
<div class="row">
<div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
<div class="why-us-img">
<img alt="" class="img-fluid" src="{% get_image_url 10 %}"/>
</div>
</div>
<div class="col-lg-6">
<div class="why-us-content">
<p id="p_5"></p>
<p id="p_6"></p>
<div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
<i class="bi bi-bookmarks" style="color: #f058dc;"></i>
<h4 id="h4_1"></h4>
<p id="p_7"></p>
</div>
<div class="features clearfix" data-aos="fade-up" data-aos-delay="200">
<i class="bi bi-box-seam" style="color: #ffb774;"></i>
<h4 id="h4_2"></h4>
<p id="p_8"></p>
</div>
<div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
<i class="bi bi-card-checklist" style="color: #589af1;"></i>
<h4 id="h4_3"></h4>
<p id="p_9"></p>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row counters" data-aos="fade-up" data-aos-delay="100">
<div class="col-lg-3 col-6 text-center">
<span class="purecounter" data-purecounter-duration="1" data-purecounter-end="232" data-purecounter-start="0"></span>
<p id="p_10"></p>
</div>
<div class="col-lg-3 col-6 text-center">
<span class="purecounter" data-purecounter-duration="1" data-purecounter-end="421" data-purecounter-start="0"></span>
<p id="p_11"></p>
</div>
<div class="col-lg-3 col-6 text-center">
<span class="purecounter" data-purecounter-duration="1" data-purecounter-end="1453" data-purecounter-start="0"></span>
<p id="p_12"></p>
</div>
<div class="col-lg-3 col-6 text-center">
<span class="purecounter" data-purecounter-duration="1" data-purecounter-end="48" data-purecounter-start="0"></span>
<p id="p_13"></p>
</div>
</div>
</div>
</section><!-- End Why Us Section -->
<!-- ======= Call To Action Section ======= -->
<section class="call-to-action" id="call-to-action">
<div class="container" data-aos="zoom-out">
<div class="row">
<div class="col-lg-9 text-center text-lg-start">
<h3 class="cta-title" id="h3_4"></h3>
<p class="cta-text" id="p_14"></p>
</div>
<div class="col-lg-3 cta-btn-container text-center">
<a class="cta-btn align-middle" href="#">Call To Action</a>
</div>
</div>
</div>
</section><!--  End Call To Action Section -->
<!-- ======= Features Section ======= -->
<section class="features" id="features">
<div class="container" data-aos="fade-up">
<div class="row feature-item">
<div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
<img alt="" class="img-fluid" src="{% get_image_url None %}"/>
</div>
<div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
<h4 id="h4_4"></h4>
<p id="p_15"></p>
<p id="p_16"></p>
</div>
</div>
<div class="row feature-item mt-5 pt-5">
<div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
<img alt="" class="img-fluid" src="{% get_image_url None %}"/>
</div>
<div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
<h4 id="h4_5"></h4>
<p id="p_17"></p>
<p id="p_18"></p>
<p id="p_19"></p>
</div>
</div>
</div>
</section><!-- End Features Section -->
<!-- ======= Portfolio Section ======= -->
<section class="portfolio section-bg" id="portfolio">
<div class="container" data-aos="fade-up">
<header class="section-header">
<h3 class="section-title" id="h3_5"></h3>
</header>
<div class="row" data-aos="fade-up" data-aos-delay="100">
<div class="col-lg-12">
<ul id="portfolio-flters">
<li class="filter-active" data-filter="*">All</li>
<li data-filter=".filter-app">App</li>
<li data-filter=".filter-card">Card</li>
<li data-filter=".filter-web">Web</li>
</ul>
</div>
</div>
<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

  {% for image in image %}

<div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ image.url }}" class="img-fluid" alt="{{ image.description }}">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 1</a></h4>
                <p>App</p>
                <div>
                  <a href="assets/img/portfolio/app1.jpg" data-gallery="portfolioGallery" title="App 1" class="link-preview portfolio-lightbox"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

  {% endfor %}
</div>
</div>
</section><!-- End Portfolio Section -->
<!-- ======= Testimonials Section ======= -->
<section class="testimonials" id="testimonials">
<div class="container" data-aos="zoom-in">
<header class="section-header">
<h3 id="h3_6"></h3>
</header>
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
<div class="swiper-wrapper">
  
<div class="swiper-slide">
  {% for i in testmon %}
 <div class="testimonial-item">
                    <img src="{{i.image.url}}" class="testimonial-img" alt="">
                    <h3>- {{i.name}}</h3>
                    <h4>- {{i.postion}}</h4>
                    <p>
                      {{i.description}}
                    </p>
                  </div>
                </div>
    {% endfor %}  
<!-- End testimonial item -->
</div>
<div class="swiper-pagination"></div>
</div>
</div>
</div>
</div>
</div></section><!-- End Testimonials Section -->
<!-- ======= Team Section ======= -->
<section class="team section-bg" id="team">
<div class="container" data-aos="fade-up">
<div class="section-header">
<h3 id="h3_7"></h3>
<p id="p_20"></p>
</div>
<div class="row">

  {% for worker in worke %}
<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{{worker.image.url}}" class="img-fluid" alt="{{worker.name}}">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{worker.name}}</h4>
                  <span> {{worker.postion}}</span>
                  <div class="social">
                    
                {% for social in worker.socilamedia_worker.all %}
                {{social.social_media.name}}
                <a href="{{social.link}}"></a>
                     {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
</div>
</div>
</section><!-- End Team Section -->
<!-- ======= Clients Section ======= -->
<section class="clients" id="clients">
<div class="container" data-aos="zoom-in">
<header class="section-header">
<h3 id="h3_8"></h3>
</header>
<div class="clients-slider swiper">
<div class="swiper-wrapper align-items-center">
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 13 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 14 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 15 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 16 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 17 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 18 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 19 %}"/></div>
<div class="swiper-slide"><img alt="" class="img-fluid" src="{% get_image_url 20 %}"/></div>
</div>
<div class="swiper-pagination"></div>
</div>
</div>
</section><!-- End Clients Section -->
<!-- ======= Pricing Section ======= -->
<section class="pricing section-bg wow fadeInUp" id="pricing">
<div class="container" data-aos="fade-up">
<header class="section-header">
<h3 id="h3_9"></h3>
<p id="p_21"></p>
</header>
<div class="row flex-items-xs-middle flex-items-xs-center">
<!-- Basic Plan  -->

{% for service in services %}
<div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">birr</span> {{service.price}}<span class="period">/month</span></h3>
              </div>
              <form action="{% url 'wab:order_service' %}" method="post" >
                {% csrf_token %}

              <div class="card-block">
                <h4 class="card-title">
                  {{ service.title }}
                </h4>
               
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
      <button class="btn btn-primary" type="submit">Choose Plan</button>
              </div>
              </form>
            </div>
          </div>
     {% endfor %}
</div>
</div>
</section>


<!-- End Pricing Section -->
<!-- ======= F.A.Q Section ======= -->
<section class="faq" id="faq">
<div class="container" data-aos="fade-up">
<header class="section-header">
<h3 id="h3_10"></h3>
<p id="p_22"></p>
</header>
<ul class="faq-list" data-aos-delay="100" data-aso="fade-up">

  {% for faq in faq %}
<li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">{{faq.qus}}<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{faq.ans}}
              </p>
            </div>
          </li>
      
  {% endfor %}

</ul>
</div>
</section><!-- End F.A.Q Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer class="section-bg" id="footer">
<div class="footer-top">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="row">
<div class="col-sm-6">
<div class="footer-info">
<h3 id="h3_11"></h3>
<p id="p_23"></p>
</div>
<div class="footer-newsletter">
<h4 id="h4_6"></h4>
<p id="p_24"></p>

<form method="post" action="{% url 'web:collect_email' %}">
  {% csrf_token %}
<input type="email" name="email"><input type="submit" value="Subscribe">
       </form> 
</div>
</div>
<div class="col-sm-6">
<div class="footer-links">
<h4 id="h4_7"></h4>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#about">About us</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Terms of service</a></li>
<li><a href="#">Privacy policy</a></li>
</ul>
</div>
<div class="footer-links">
<h4 id="h4_8"></h4>
<p id="p_25"></p>
</div>
<div class="social-links">

  {% for socilamedia in social %}
  {% if socilamedia.social_media.name == "Facebook" %}
  <a href="{{socilamedia.link}}"><i class="fab fa-facebook"></i></a>
  {% elif socilamedia.social_media.name == "Instagram" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-instagram"></i></a>
  {% elif socilamedia.social_media.name == "Twitter" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-twitter"></i></a>
  {% elif socilamedia.social_media.name == "LinkedIn" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-linkedin"></i></a>
  {% elif socilamedia.social_media.name == "Snapchat" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-snapchat"></i></a>
  {% elif socilamedia.social_media.name == "Pinterest" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-pinterest"></i></a>
  {% elif socilamedia.social_media.name == "Reddit" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-reddit"></i></a>
  {% elif socilamedia.social_media.name == "TikTok" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-tiktok"></i></a>
  {% elif socilamedia.social_media.name == "YouTube" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-youtube"></i></a>
  {% elif socilamedia.social_media.name == "WhatsApp" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-whatsapp"></i></a>
  {% elif socilamedia.social_media.name == "WeChat" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-weixin"></i></a>
  {% elif socilamedia.social_media.name == "Tumblr" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-tumblr"></i></a>
  {% elif socilamedia.social_media.name == "Twitch" %}
  <a href="{{socilamedia.link}}"><i class="fab fa-twitch"></i></a>
  {% elif socilamedia.social_media.name == "Telegram" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-telegram"></i></a>
  {% elif socilamedia.social_media.name == "Discord" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-discord"></i></a>
  {% elif socilamedia.social_media.name == "Clubhouse" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-houzz"></i></a>
  {% elif socilamedia.social_media.name == "Viber" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-viber"></i></a>
  {% elif socilamedia.social_media.name == "LINE" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-line"></i></a>
  {% elif socilamedia.social_media.name == "QQ" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-qq"></i></a>
  {% elif socilamedia.social_media.name == "Sina Weibo" %}
  <a href="{{socilamedia.link}}"> <i class="fab fa-weibo"></i></a>
  {% endif %}
{% endfor %}

</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="form">
<h4 id="h4_9"></h4>
<p id="p_26"></p>

           <form action="{% url 'web:create_message' %}" method="post" role="form" class="php-email-form">
                          {% csrf_token %}
                    
                    <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>

                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="copyright">
        © Copyright <strong>zufan.et</strong> All Rights Reserved.
      </div>
<div class="credits">
<!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
        Designed by <a href="https://zufan.et">zufan.et</a>
</div>
</div>
</footer><!-- End  Footer -->
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'webfunction.js' %}"></script><script>
    document.addEventListener('DOMContentLoaded', function () {
        // Iterate over each key in the JSON data
        for (var key in jsonDataww) {
            if (jsonDataww.hasOwnProperty(key)) {
                var element = document.getElementById(key);
                if (element) {
                    if(key.startsWith("a")){
                        element.href = jsonDataww[key['link']];
                    }else{
                        element.textContent = jsonDataww[key];
                    }
                }
            }
        }
    });
    </script></body>
</html>